#banner {
    .banner {
        background-image: url(../../img/banner.png);
        background-repeat: no-repeat;
        height: 300px;
        background-size: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 15px;

        h2 {
            font: normal bold 38px Zilla Slab;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $main;

        }

        p {
            font: normal 400 38px Zilla Slab;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #3E3E3E;
        }

    }
     
    hr {
        border: none;
        height: 1px;
        background: #3E3E3E;
        margin: 30px 0;
        background: repeating-linear-gradient(150deg,#3E3E3E,#3E3E3E 6px,transparent 6px,transparent 12px);
    }
}
#banner_mob{
    .banner_mob {
        background-image: url(../../img/bg2.png);
        background-repeat: no-repeat;
        height: 350px;
        background-size: 100%;
        margin: 30px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        border-radius: 15px;

        h2 {
            font: normal bold 24px Zilla Slab;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $main;

        }

        p {
            font: normal 400 24px Zilla Slab;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #3E3E3E;
        }

    }
}