#main {
    padding-top: 50px;
    .main_mob{
        margin: 0 15px ;
        h3 {
            font: normal 600 24px Zilla Slab;
            line-height: 43px;
            margin-bottom: 25px;
            text-align: center;
            color: #1F1F24;
        }

        p {
            font: normal 300 16px Zilla Slab;
            color: #333333;
            opacity: 0.5;
            margin-top: 20px;
            line-height: 26px
        }
        img{
            height: 200px;
            object-fit: cover;
            width: 100%;
        }
    }
    .main {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 600px;
        .img {
            width: 50%;
            position: absolute;
            top: 80px;
            height: 500px;
            right: 0;
            img{
                  
                -o-object-fit: cover;
                object-fit: cover;
                height: 500px;
                 width: 100%;
            }
        }
    }

    .text {
        background-color: transparent;
        border: 1px solid $white;
        padding: 30px;
        position: absolute;
        width: 60%;
        z-index: 2;

    }

    .inside {
        background-color: #FFFFFF;
        padding: 50px;
        box-shadow: 20px 18px 20px 20px rgba(0, 0, 0, 0.09);;
        

        h3 {
            font: normal 600 36px Zilla Slab;
            line-height: 43px;
            margin-bottom: 25px;
            color: #1F1F24;
        }
        p > * {
            font: normal 300 20px Zilla Slab !important;
            color: #333333 !important;
            line-height: 34px !important;
            margin: 0 !important;
          }
          
        p {
            font: normal 300 20px Zilla Slab !important;
            color: #333333 !important;
            opacity: 0.8;
            line-height: 34px !important;
            margin: 0 !important;
            span{
                font: normal 300 20px Zilla Slab !important;
                color: #333333 !important;
                line-height: 34px !important;
                margin: 0 !important;
                span{
                    font: normal 300 20px Zilla Slab !important;
                    color: #333333 !important;
                    line-height: 34px !important;
                    margin: 0 !important;
                }
            }
        }
    }

    
}

#product {
    .title {
        h2 {
            font: normal 600 36px Zilla Slab;
            line-height: 43px;
            text-align: center;
            color: #3E3E3E;
            padding-top: 130px;
            padding-bottom: 70px;
        }

        h2.background {
            position: relative;
            z-index: 1;

            &:before {
                bottom: 0;
                content: "";
                margin: 0 auto;
                position: absolute;
                top: 60%;
                left: 0;
                background-image: linear-gradient(to right, #27ae5f83, rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0) 60%, #27ae5f83);
                right: 0;
                width: 100%;
                height: 2px;
                z-index: -1;
            }

            span {
                background: #fff;
                padding: 0 30px;
            }
        }
    }

    .item {
        padding: 20px;
        background: #F5F5F5;
        border-radius: 15px;
        text-align: center;
        img{
            height: 150px;
            object-fit: cover;
            transition: 2s;
            &:hover{
                transform: scale(1.5);
            }
        }
        
    }
    .item2{
        padding:40px 60px;
        background: #F5F5F5;
        border-radius: 15px;
        text-align: center;
        p{
            font-family: Zilla Slab;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 1px;
            text-align: start;
            margin-top: 15px;
            margin-bottom: 0;
            max-width: 200px;
            color: #595959;
        }
    }
    p{
        font: normal normal 18px Zilla Slab;
        line-height: 22px;
        color: #3E3E3E;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
}