#main {
    margin-top: 50px;
    .main_mob{
        margin: 0 15px ;
        h3 {
            font: normal 600 24px Zilla Slab;
            line-height: 43px;
            margin-bottom: 25px;
            text-align: center;
            color: #1F1F24;
        }

        p {
            font: normal 300 16px Zilla Slab;
            color: #333333;
            opacity: 0.5;
            margin-top: 20px;
        }
        img{
            height: 200px;
            object-fit: cover;
            width: 100%;
        }
    }
    .main {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 600px;
        img {
            position: absolute;
            top: 80px;
            object-fit: cover;
            height: 500px;
            right: 0;
        }
    }

    .text {
        background-color: transparent;
        border: 1px solid $white;
        padding: 30px;
        position: absolute;
        width: 60%;
        z-index: 2;

    }

    .inside {
        background-color: $white;
        padding: 50px;
        box-shadow: 58px 49px 84px rgba(0, 0, 0, 0.09);

        h3 {
            font: normal 600 36px Zilla Slab;
            line-height: 43px;
            margin-bottom: 25px;
            color: #1F1F24;
        }

        p {
            font: normal 300 20px Zilla Slab;
            color: #333333;
            opacity: 0.5;
        }
    }

    
}

#product {
    .title {
        h2 {
            font: normal 600 36px Zilla Slab;
            line-height: 43px;
            text-align: center;
            color: #3E3E3E;
            margin-top: 130px;
            margin-bottom: 70px;
        }

        h2.background {
            position: relative;
            z-index: 1;

            &:before {
                bottom: 0;
                content: "";
                margin: 0 auto;
                position: absolute;
                top: 50%;
                left: 0;
                background-image: linear-gradient(to right, #27ae5f83, rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0) 60%, #27ae5f83);
                right: 0;
                width: 100%;
                height: 2px;
                z-index: -1;
            }

            span {
                background: #fff;
                padding: 0 30px;
            }
        }
    }

    .item {
        padding: 20px;
        background: #F5F5F5;
        border-radius: 15px;
        text-align: center;
        img{
            height: 150px;
            object-fit: cover;
        }
        
    }
    .item2{
        padding: 20px;
        background: #F5F5F5;
        border-radius: 15px;
        text-align: center;
    }
    p{
        font: normal normal 18px Zilla Slab;
        line-height: 22px;
        color: #3E3E3E;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
}