#header {
    background-repeat: no-repeat;
    background-size: cover;



    .item {
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        display: flex !important;
        justify-content: center;
        align-items: center;

        p {
            font: normal 500 38px Roboto Slab;
            text-align: center;
            letter-spacing: 6px;
            text-transform: uppercase;
            color: $white;
            width: 60%;
            text-shadow: 0px 3px 37px rgba(0, 0, 0, 0.25);
        }



    }

    .social {
        margin-top: -80px;
        position: absolute;

        a {
            background-color: $white;
            color: #303030;
            font-size: 19px;
            border-radius: 50%;
            margin-right: 10px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;

            &:hover {
                background-color: $main;
                color: $white;
            }
        }
    }

    .regular .next {
        position: absolute;
        top: 50%;
        color: #fff;
        right: 10%;
        z-index: 1;
        width: auto;
        background: transparent;
        padding: 5px 12px;
        border-radius: 50%;
        border: 1px solid #fff;
        outline: none;

    }

    .regular .prev {
        position: absolute;
        top: 50%;
        z-index: 1;
        left: 10%;
        width: auto;
        padding: 5px 12px;
        color: #fff;
        border-radius: 50%;
        border: 1px solid #fff;
        background-color: transparent;
        border-radius: 50%;
        outline: none;

    }

    .slick-dots {
        bottom: 40px;
        left: 0;
        right: 0;
        margin: auto;
        width: 500px;

        .slick-active button {
            &::before {
                color: $orange;
                opacity: 1;
                font-size: 10px;
            }
        }

        li button {
            &::before {
                color: $white;
                opacity: 1;
                font-size: 10px;
            }
        }


    }
}

#nav {
    background: linear-gradient(180deg, #FFFFFF 14.1%, rgba(255, 255, 255, 0) 92.75%);
    position: absolute;
    z-index: 999999;
    width: 100%;
    .dropdown-menu {
        top: 30px;
    }
    .navbar-brand {
        margin-right: 100px;

        img {
            padding-bottom: 15px;
        }
    }

    .social {

        a {
            background-color: $white;
            color: #303030;
            font-size: 19px;
            border-radius: 50%;
            margin-right: 10px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;

            &:hover {
                background-color: $main;
                color: $white;
            }
        }
    }

    //.navbar-expand-lg .offcanvas-body {
    //    border-bottom: 1px solid rgba(37, 52, 118, 0.4);
    //}

    .navbar-nav {




        .nav-item {
            .nav-link {
                font: normal 300 15px Roboto Slab !important;
                line-height: 22px;
                letter-spacing: 1px;
                color: $link;
                margin-right: 40px;
                padding: 0;
                padding-bottom: 15px;
                border-bottom: 2px solid transparent;
                &:hover{
                     border-bottom: 2px solid $main;
                }

            }

            .nav-link.active {
                border-bottom: 2px solid $main;
            }


        }

        .select_ {

            font: normal 300 16px Roboto Slab;
            line-height: 19px;
            width: 40px;
            background-color: transparent;
            letter-spacing: 1px;
            color: #253476;
            border: none;
            margin-right: 40px;
            padding: 0;
            margin-bottom: 20px;

            .dropdown-item {
                img {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                }
            }
        }
        .dropdown-item {
            img {
                width: 24px;
                height: 24px;
                object-fit: contain;
            }
        }
        select {
            font: normal 300 16px Roboto Slab;
            line-height: 19px;
            width: 40px;
            background-color: transparent;
            letter-spacing: 1px;
            color: #253476;
            border: none;
            margin-right: 40px;
            padding: 0;
            margin-bottom: 20px;
            /* Remove default arrow */
            /* Add custom arrow */
            background-repeat: no-repeat;
            background-position: right center;

            option {
                padding: 40px;
                background: white;
                color: $main;
                border: red;

                &:hover {
                    background-color: $main;
                }
            }

            option[selected] {
                background-color: $main;
                color: $white;
            }



        }

    }

    .text {
        background-color: $blue;
        width: 300px;
        padding: 25px 20px;

        p {
            font: normal 500 14px Roboto Slab;
            line-height: 17px;
            letter-spacing: 1px;
            color: $white;
            margin: 0;
            margin-right: 15px;
            width: 50%;

        }
    }

    .text2 {
        background-color: $white;
        width: 100%;
        padding: 25px 20px;
        margin: 50px 0;

        p {
            font: normal 500 14px Roboto Slab;
            line-height: 17px;
            letter-spacing: 1px;
            color: #1F1F24;
            margin: 0;
            margin-left: 15px;

        }
    }

}