@font-face {
    font-family: 'Averta';
    src: url(../AvertaDemoPE-Regular.ttf);
}

#recept {
    
    .slick-slide{
        margin-right: 20px;
    }
    .slick-dots {
        
        left: 0;
        right: 0;

        .slick-active button {
            &::before {
                color: $orange;
                opacity: 1;
                font-size: 10px;
            }
        }

        li button {
            &::before {
                color: $gray;
                opacity: 1;
                font-size: 10px;
            }
        }


    }
    .title {
        h2 {
            font: normal 600 36px Roboto Slab;
            line-height: 43px;
            text-align: center;
            color: #3E3E3E;
            margin-top: 130px;
            margin-bottom: 70px;
        }

        h2.background {
            position: relative;
            z-index: 1;

            &:before {
                bottom: 0;
                content: "";
                margin: 0 auto;
                position: absolute;
                top: 50%;
                left: 0;
                background-image: linear-gradient(to right, #27ae5f83, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, #27ae5f83);
                right: 0;
                width: 100%;
                height: 2px;
                z-index: -1;
            }

            span {
                background: #fff;
                padding: 0 30px;
            }
        }
    }

    .inside{
        height: 400px;
        overflow: hidden;
        margin: 0 15px 30px 15px;
        border-radius: 15px;
        .recept {
            height: 400px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px;
            display: flex !important;
            justify-content: space-between;
            flex-direction: column;
            padding: 35px;
         
            -webkit-transition: all 0.8s ease-in-out;
            position: relative;
            overflow: hidden;
            &:hover{
                -webkit-transform: scale(1.1); 
                transform: scale(1.1);
                -webkit-transition: all 0.8s ease-in-out;
            }
    
            h3 {
                font: normal 600 24px Roboto Slab;
                line-height: 29px;
                text-decoration-line: underline;
                color: $white;
                margin-bottom: 10px;
            }
    
            p {
                font: normal normal 18px Roboto Slab;
                line-height: 130%;
                color: $white;
                opacity: 0.8;
                height: 55px;
            }
    
            .new {
                background: $white;
                border-radius: 46px;
                padding: 6px 20px;
                font: normal 600 18px Roboto Slab;
                line-height: 22px;
                color: $main;
                width: 80px;
            }
        }
    }

    .all {
        text-align: center;
        margin-bottom: 100px;
        margin-top: 50px;

        button {
            background: $main;
            padding: 12px 50px;
            border: none;
            color: $white;
            font: normal normal 20px Roboto Slab;
            line-height: 24px;
            border-radius: 33px;
            transition: 0.5s;

            &:hover {
                background-color: #138B46;
            }
        }
    }

    .pagination {
        margin: 50px 0 150px 0;

        a {
            background-color: transparent;
            border: none;
            font: normal normal 22px Manrope;
            
            line-height: 22px;
            color: #272727;

        }

        a.active {
            color: $main;
        }

        .prev {
            background: #F3F3F3;
            border-radius: 46px;
            padding: 10px 20px;
            margin-right: 45px;
            color: #272727;
            font: normal normal 16px Manrope;

            &:hover {
                background-color: $main;
                color: $white !important;
            }
        }

        .next {
            background: #F3F3F3;
            border-radius: 46px;
            padding: 10px 20px;
            color: #272727;
            font: normal normal 16px Manrope;
            margin-left: 45px;

            &:hover {
                background-color: $main;
                color: $white !important;
            }
        }
    }
}